.main {
  position: absolute;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100px;
  background: url('../../assets/img/bg_1.png') no-repeat center;
  background-size: cover;
}

.title {
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;
  color: #ffffff;
  width: 711px;
  height: 240px;
  margin-left: 221px;

  margin-top: 227px;
  margin-bottom: 65px;
}

.info {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  margin-left: 221px;
  margin-bottom: 69px;
  color: #ffffff;
  height: 61px;
  width: 549px;
}
