.navbar {
  max-width: 1270px;
  width: 100%;
  height: 100px;
  margin: 80px auto;
}

.search {
  height: 50px;
  width: 1235px;
  background: transparent;
  outline: none;
  border: none;
}
.search-panel {
  display: flex;
  background: #b09a81;
  margin-bottom: 15px;
  border-radius: 6px;
}
.search-label {
  width: 35px;
  height: 35px;
  margin-top: 14px;
  margin-right: 15px;
}

.search[placeholder] {
  color: #796a58;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  padding-left: 19px;
}
.search[placeholder]::-webkit-input-placeholder {
  color: #796a58;
}

.search[placeholder]::-moz-placeholder {
  color: #796a58;
}
.search[type='search'] {
  color: #462929;
}

/*      REMOVE CROSS IN SEARCH      */
input[type='text']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='text']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/*    checkbox     */

.select {
  margin-right: 15px;
  position: relative;
}

.select img {
  height: 5px;
  width: 9px;
  margin-right: 12px;
}
.select p {
  margin-left: 12px;
  font-size: 16px;
  line-height: 13px;
  color: #462929;
}

.select_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #b09a81;
  height: 36px;
  width: 137px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 15px;
}
.select_list {
  position: absolute;
  z-index: 1;
  background: #b09a81;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.checkbox {
  display: flex;
  align-items: center;
  margin: 20px 20px 20px 14px;
  position: relative;
}
.checkbox_label {
  font-size: 15px;
  line-height: 15px;
  color: #462929;
  padding-left: 30px;
  cursor: pointer;
}
.checkbox_input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.checkbox_label:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  border: #462929 1px solid;
  border-radius: 4px;
}

.checkbox_label:after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.checkbox_input:checked + .checkbox_label:before {
  background: url('../../../assets/img/checkbox.svg') no-repeat -1px -1px;
  background-size: 15px 15px;
  border: #1f4f3b 1px solid;
}

.checkbox_input:hover + .checkbox_label:hover:before {
  border: #1f4f3b 1px solid;
}

/*    Filters    */

.filters {
  display: flex;
  position: relative;
}

.rotate {
  transform: rotate(180deg);
}
.hide {
  display: none;
}
