.not_found {
  position: absolute;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100px;
  background: url('../../assets/img/404.png') no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title_404 {
  width: 416px;
  height: 136px;
  left: 752px;
  top: 540px;

  font-weight: bold;
  font-size: 180px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 440px;
  color: #ffffff;
  margin-bottom: 55px;
}
.p_404 {
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
  padding: 8px 0;
}

.error_button {
  margin: 0;
  height: 60px;
  width: 180px;
  border: none;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #b09a81;
  font-size: 20px;
  line-height: 26px;
  color: #462929;
  margin-bottom: 258px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.error_button a {
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #462929;
}
.error_button:hover {
  background: #daaf7c;
}
.error_button:active {
  background: #b08f67;
}
