.characters {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100px;
  background: url('../../assets/img/cards_bg.png') no-repeat center;
  background-size: cover;
}
.cards {
  width: 1270px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto 50px;
  position: relative;
}
.slide {
  display: none;
}

.slide.active {
  display: flex;
}

.card {
  height: 550px;
  width: 410px;
  background: transparent;
  cursor: pointer;
}
.card:nth-child(2) {
  margin: 0 20px;
}

.card_avatar {
  position: relative;
  height: 395px;
  width: 410px;
  border-radius: 4px 4px 0 0;
}
.card_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0px 0px;
}
.card_name {
  position: absolute;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0.03em;
  text-align: left;
  height: 100px;
  min-width: 208px;
  max-width: 240px;
  left: 13px;
  top: 274px;
  color: #ffffff;
}
.card_description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #512c38;
  height: 155px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  padding: 17px 14px;
  border-radius: 0 0 6px 6px;
}
.card_description_row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
}
.card_description_row:last-child {
  border-bottom: none;
}
