.pagination {
  height: 61px;
  width: 270px;
  display: flex;
  justify-content: space-around;
  background: transparent;
  margin: 0 auto 40px;
  align-items: center;
  position: relative;
  bottom: 10px;
}
.dots {
  display: flex;
  width: 120px;
  height: 10px;
  align-items: center;
  overflow: hidden;
}

.dot_block {
  min-width: 40px;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;

  transition: all 0.3s linear;
}

.dot {
  width: 10px;
  height: 10x;
  content: ' ';
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.dot:active {
  transform: scale(1.15);
}
.dot.active_dot {
  background: #b09a81;
}

.arrow {
  height: 27px;
  width: 14px;
  cursor: pointer;
  transition: transform 0.1s linear;
}
.arrow:active {
  transform: scale(1.2);
}
.arrow-left {
  left: 21px;
  background: url('../../../assets/img/vector_rev.svg');
}
.arrow-right {
  right: 21px;
  background: url('../../../assets/img/vector.svg');
}
