.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background: #000000;
  display: flex;
  align-items: flex-start;
  padding: 39px 221px;
  color: white;
  border-bottom: 1px solid #f1f1f1;
}

.logo {
  position: absolute;
  left: 40px;
  top: 15px;
}

.menu_list {
  list-style: none;
  display: flex;
}

.menu_link {
  text-decoration: none;
  color: #b09a81;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: left;
  margin-right: 33px;

  transition: all 0.3s linear;
  border-bottom: 1px solid transparent;
  padding-bottom: 8px;
}

.menu_link:hover {
  border-bottom: 1px solid #b09a81;
}
