@font-face {
  font-family: 'Lora-Bold';
  src: url('../assets/fonts/Lora-Bold.eot');
  src: local('☺'), url('../assets/fonts/Lora-Bold.woff') format('woff'), url('../assets/fonts/Lora-Bold.ttf') format('truetype'),
    url('../assets/fonts/Lora-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lora-Medium';
  src: url('../assets/fonts/Lora-Medium.eot');
  src: local('☺'), url('../assets/fonts/Lora-Medium.woff') format('woff'), url('../assets/fonts/Lora-Medium.ttf') format('truetype'),
    url('../assets/fonts/Lora-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lora-Regular';
  src: url('../assets/fonts/Lora-Regular.eot');
  src: local('☺'), url('../assets/fonts/Lora-Regular.woff') format('woff'), url('../assets/fonts/Lora-Regular.ttf') format('truetype'),
    url('../assets/fonts/Lora-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
