/*      GLOBAL      */

body {
  background: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora-Regular';
}
#app {
  position: relative;
  max-width: 1920px;
  min-height: 980px;
  margin: 0 auto;
}

/*      BUTTON      */

.button {
  height: 60px;
  width: 180px;
  margin-left: 223px;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #b09a81;
  font-size: 20px;
  line-height: 26px;
  color: #462929;
  margin-bottom: 258px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background: #daaf7c;
}
.button:active {
  background: #b08f67;
}

.button > a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #462929;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  cursor: pointer;
}
