/*    ADD CARD     */

.modal_add_left {
  position: relative;
}

.inputs_block {
  position: absolute;
  left: 32px;
  top: 38px;
  right: 33px;
  bottom: 38px;
}
.inputs_block label {
  font-size: 14px;
  line-height: 15px;
  text-align: left;
  color: #b09a81;
}
.inputs_block input,
.inputs_block textarea {
  color: #462929;
}
.inputs_block input[type='text'] {
  outline: none;
  border: none;
  box-shadow: 0 1px 2px rgba(50, 50, 71, 0.08);
  border-radius: 4px;
  height: 30px;
  background: #b09a81;
  padding-left: 10px;
}

.add_name {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.add_name label {
  margin-bottom: 3px;
}
.add_name input:focus {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
.add_params {
  display: flex;
  justify-content: space-between;
}
.add_param input:focus {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
.add_param {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.add_param label {
  margin-bottom: 3px;
}
.add_param input {
  height: 30px;
  border-radius: 4px;
  background: #b09a81;
}
.add_gender {
  width: 150px;
}
.add_race {
  width: 120px;
}
.add_side {
  width: 120px;
}
.add_tags,
.add_description {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 15px;
}
.add_description textarea:focus {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
.add_description textarea {
  height: 145px;
  width: 100%;
  border-radius: 4px;
  background: #b09a81;
  resize: none;
  outline: none;
  margin-top: 6px;
  padding: 5px 10px;
}
.tags_counter,
.desc_counter {
  position: absolute;
  right: 10px;
  color: #494949;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  top: 0;
}
.add_tags label {
  margin-bottom: 5px;
}
.add_tags input:focus {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.add_photo_and_color {
  display: flex;
  margin-top: 20px;
}

.add_photo_text {
  font-size: 14px;
  line-height: 15px;
  text-align: left;
  color: #b09a81;
  margin-bottom: 3px;
}
.add_photo_preview {
  background: #b09a81 no-repeat center;
  height: 210px;
  width: 188px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add_icon_img {
  width: 45px;
  height: 45px;
  margin-top: 68px;
  margin-bottom: 55px;
  /* cursor: pointer; */
  display: block;
}
.add_photo_preview input {
  display: none;
}
.add_photo_preview label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #462929;
  cursor: pointer;
  height: 32px;
  width: 168px;
  border: 1px solid #462929;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 8px 20px;
}
.add_photo_preview label:hover {
  background: #b08f67;
}

.choose_color {
  margin-left: 30px;
}
.choose_color div {
  display: flex;
  align-items: center;
}
.choose_color div label {
  margin-left: 12px;
}
.choose_color div:not(:last-child) {
  margin-bottom: 7px;
}
.choose_color_text {
  font-size: 14px;
  line-height: 15px;
  text-align: left;
  color: #b09a81;
  margin-bottom: 8px;
}
.choose_color input[type='color'] {
  border: 2px solid #b09a81;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding: 0;
  -webkit-appearance: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  background: red;
}
input[type='color']::-webkit-color-swatch {
  border: solid 2px #b09a81;
}

.palette {
  position: absolute;
  right: 0;
  border: 1px solid yellow;
  background: #121317;

  height: 238px;
  width: 240px;
  border-radius: 6px;
}

.add_buttons {
  display: flex;
  justify-content: space-between;
}
.add_buttons button {
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  width: 85px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 30px;
}
.change_btn {
  background: #b09a81;
  color: #462929;
}

.change_btn:hover {
  background: #b08f67;
}

.save_btn {
  background: #1f4f3b;
  color: #b09a81;
}
.save_btn:hover {
  background: #2d653a;
}

.preview {
  position: relative;
  height: 635px;
}
.close {
  width: 29px;
  height: 29px;
  position: absolute;
  right: 35px;
  top: -24px;
  cursor: pointer;
}
.preview_text {
  color: #b09a81;
  font-size: 14px;
  line-height: 15px;
  margin-left: 31px;
  margin-top: 45px;
  margin-bottom: 95px;
}
.preview_choose {
  display: flex;
  margin-left: 31px;
  margin-bottom: 10px;
}

.choose_view {
  color: #494949;
  margin-right: 10px;
  font-size: 14px;
  line-height: 15px;
  cursor: pointer;
}
.choose_view.active_view {
  color: #b09a81;
}

.preview_slider {
  height: 20px;
  width: 74px;
  margin-left: 220px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview_dots {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.preview_arrow {
  width: 6px;
  height: 10px;
  cursor: pointer;
}

.preview_arrow-left {
  background: url('../../../assets/img/vector_mini.svg') no-repeat;
  transform: scaleX(-1);
}
.preview_arrow-right {
  background: url('../../../assets/img/vector_mini.svg') no-repeat;
}

.preview_dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #ffffff;

  cursor: pointer;
}
.preview_dot.active-dot {
  background: #b09a81;
}

.button_modal-save {
  position: absolute;
  height: 55px;
  width: 140px;
  right: 34px;
  bottom: 0;
  border-radius: 4px;
  padding: 15px;
  background: #1f4f3b;
  border: none;
  transition: background-color 0.3s ease-in-out;
  /* text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #b09a81; */
}
.button_modal-save:hover {
  background: #2d653a;
}
.button_modal-save:active {
  background: #296036;
}

.button_modal-save a {
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #b09a81;
}
