.preview_block {
  height: 300px;
  width: 450px;
  border-radius: 4px;
  margin-left: 31px;
  margin-bottom: 10px;
  display: flex;
}
.preview_v {
  display: none;
  margin: 0 auto;
}
.actve_preview_block {
  display: flex;
}

.preview_card_description {
  font-size: 8px;
  background: #462929;
  color: #ffffff;
  width: 173px;
  border-radius: 4px;
  padding: 0 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 80px;
  margin-top: 10px;
}

.preview_v1_left {
  height: 300px;
  width: 209px;
  border-radius: 4px 0 0 4px;
  background: #252020;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.preview_card_description .card_description_row {
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
}
.preview_block .card_description p:not(:last-child) {
  border-bottom: 0.5px solid #ffffff;
}
.preview_card_text {
  font-size: 8px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 0 17px 10px;
  position: absolute;
  top: 165px;
  left: 5px;
}

.preview_card_name {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
  margin-top: 17px;
  margin-bottom: 11px;
}

.preview_v1_right {
  height: 300px;
  width: 241px;
  border-radius: 0 4px 4px 0;
  background: #b09a81;
  position: relative;
}
.preview_v1_right img {
  width: 100%;
  height: 100%;
  border-radius: 0 4px 4px 0;
}

/*    V2     */
.preview_v2 {
  height: 300px;
  width: 225px;
  margin: 0 auto;
  border-radius: 0px;
  position: relative;
}
.preview_v2_avatar {
  height: 215px;
  width: 225px;
  left: 0px;
  top: 0px;
  border-radius: 4px 4px 0 0;
  background-color: #b09a81;
  position: relative;
}
.preview_v2_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0;
}
.preview_v2_card_name {
  position: absolute;
  font-size: 28px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  top: 140px;
  width: 110px;
  margin-left: 13px;
}
.preview_v2_description {
  height: 85px;
  width: 225px;
  left: 0px;
  top: 216.10498046875px;
  border-radius: 0 0 4px 4px;
  font-size: 10px;
  background: #462929;
  color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.preview_v2_description .card_description_row {
  padding-bottom: 3px;
}

.preview_tags {
  position: absolute;
  bottom: 0;
  right: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.preview_modal_tag {
  color: #ffffff;
  margin-bottom: 4px;
  padding: 5px 10px;
  font-size: 8px;
  border-radius: 4px;
  font-weight: 400;
}
