.button-add {
  position: absolute;
  right: 0;
  background: #b09a81;
  height: 36px;
  width: 137px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #462929;
  padding: 0 12px;
}
.button-add:hover {
  cursor: pointer;
}

/*    MODAL ADD    */

.modal_add {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 5;
  display: flex;
  justify-content: center;
}

.modal_add_window {
  width: 1030px;
  height: 720px;
  margin-top: 133px;
  background: linear-gradient(180deg, #2a2c35 52.6%, #000000 100%);
  mix-blend-mode: normal;
  border-radius: 6px;
  display: flex;
}

.modal_add_left {
  width: 515px;
  height: 100%;
}
.modal_add_right {
  width: 515px;
  height: 100%;
}

.delimiter {
  border: 2px solid #494949;
  height: 635px;
  margin-top: 45px;
}

/*    MODAL PERSON     */

.modal_person {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 5;
  display: flex;
  justify-content: center;
}

.modal_window {
  height: 600px;
  width: 930px;
  border-radius: 8px;
  margin-top: 133px;
  display: flex;
}
.modal_description {
  width: 414px;
  background: linear-gradient(180deg, #24201f 38.54%, #000000 100%);
  border-radius: 8px 0 0 8px;
}
.modal_image_block {
  display: flex;
  height: 600px;
  width: 516px;
  border-radius: 0 4px 4px 0;
  position: relative;
}

.modal_image {
  width: 100%;
}
.modal_image img {
  width: 100%;
  height: 100%;
  border-radius: 0 8px 8px 0;
}

.modal_close {
  position: absolute;
  height: 29px;
  width: 29px;
  top: 31px;
  right: 25px;
  background: url('../../../assets/img/icon_close.svg');
  cursor: pointer;
  border-radius: 50%;
}

.modal_tags {
  width: 200px;
  height: 120px;
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal_tag {
  height: 25px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #ffffff;
  width: auto;
  margin-bottom: 8px;
  padding: 5px 18px;
  background: #26514e;
}

.modal_description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_title {
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 56px 0 50px;
  padding-left: 20px;
}

.modal_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #512c38;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  padding: 17px 14px;
  height: 120px;
  width: 350px;
  border-radius: 6px !important;
  margin-bottom: 20px;
}
.modal_text {
  display: flex;
  align-items: center;

  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  height: 260px;
  width: 354px;
  left: 33px;
  top: 297px;
}

